<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script language="javascript">
        function __op(type, num){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "http://ylcktest.ngrok.cc/led/switch/"+type+"/"+num, false);
            xmlHttp.send(null);
        }
    </script>
    <style>
        html, body {
            height: 100%;
            position: relative;
        }
        .container {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
        }
    </style>
</head>
<body>
    <div class="container" align="center">
        <table>
             <tr>
                <td><button name="btn_show" onclick="window.location.href='/show'" type="button" class="btn btn-danger">
                    GET TEMPERATURE AND HUMIDITY</button></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('open', '22')">1UP</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('open', '26')">2UP</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('open', '24')">3UP</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('open', '4')">4UP</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('open', '12')">5UP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('close', '22')">1DOWN</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('close', '26')">2DOWN</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('close', '24')">3DOWN</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('close', '4')">4DOWN</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-block" onclick="__op('close', '12')">5DOWN</button>
                </td>
            </tr>
        </table>
        <table border="1">
            {%  for dict in dicts %}
                <tr>
                    <td><p>Temperature: {{ dict['temperature'] }}</p></td>
                    <td><p>Humidity: {{ dict['humidity'] }}</p></td>
                    <td><p>Current Time: {{ dict['current_time'] }}</p></td>
                </tr>
            {%  endfor %}
        </table>
    </div>
</body>
</html>