<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script language="javascript">
        function __doBlink(){
            var btn_blink = document.getElementsByName('btn_blink')
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "http://ylcktest.ngrok.cc/led/switch/open", false)
            xmlHttp.send(null);
            return xmlHttp.responseText
        }
    </script>
    <style>
        html, body {
            height: 100%;
            position: relative;
        }
        .container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    </style>
</head>
<body>
    <div class="container" align="center">
        <table>
            <tr>
                <td>
                    <button name="btn_blink" type="button" class="btn btn-lg btn-default" onclick="__doBlink()">BLINK</button>
                </td>
                <!--<td>
                    <button type="button" class="btn btn-lg btn-danger">CLOSE</button>
                </td>-->
            </tr>
            <tr>
                <td><p>Temperature: {{ temperature }}</p></td>
                <td><p>Humidity: {{ humidity }}</p></td>
            </tr>
        </table>
    </div>
</body>
</html>